<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <meta charset="UTF-8"/>
    <title>Postage Tracker</title>
</head>
<body>
    <h1>Postage Status Tracking</h1>
    <img th:src="@{/css/images/mail.png}" id="logo" />

    <div th:if="${!entries.isEmpty()}">
    <table>
        <tr>
            <th>Package ID</th><th>Status</th><th>Delete</th><th>Update</th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.user}"></td>
            <td th:text="${entry.comment}"></td>
            <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
            <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
        </tr>
    </table>
    </div>

    <h2 th:text="${formHeader}"></h2>
    <form th:object="${newEntry}" method="post">
        <label>Package ID: </label>
        <input type="text" size="32" th:field="*{user}" />
        <br />
        <label>Status: </label>
        <input type="text" size="64" th:field="*{comment}" />
        <br />
        <input type="submit" value="Submit" />
        <p class="warning" th:if="${#fields.hasErrors('user')}">Package ID cannot be empty.</p>
        <p class="warning" th:if="${#fields.hasErrors('comment')}">Status cannot be empty.</p>
        <input type="reset" value="Reset" />
    </form>

    <div th:if="${entries.isEmpty()}">
        <p>There are no packages logged in the Tracker. Add a package using the form above.</p>
    </div>

</body>
</html>